 body {
    background: url(../images/background.png) repeat;
    
}

.inline {
    float: left;
}

#top {
    background: transparent;
}
.buttons {
    margin: 10px;

}

.ratingTag{
    margin-left: 10px;
}
.input {
    float: right;
    float: top;
    /* position: absolute; */
    top: 0;
    right: 0;
    
}

.gif {
    margin: 10px;
}